html{
    font-family: "Lexend" !important;
}

body{
    position: relative;
    background-color: orange;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/bodyback1.png");
    background-repeat: repeat;
    background-size: auto;
}

footer{
    position: absolute;
    bottom:-32px;
    left: 7.5%;
    width: 85%;
    font-size: 11px;
    color: black;
    font-weight: 600;
    letter-spacing: 1.69px;
}

footer ul{
    position: relative;
    list-style-type: none;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    padding-inline-start: 0px !important;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

footer ul li{
    margin-left: 24px;
}

footer ul li:nth-child(1){
    position: absolute;
    left: 0px;
    top: 0px;
}

p{
    font-size: 14px;
    letter-spacing: 1.69px;
    font-weight: 300;
}


title{
    font-size: xx-large;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-top: 24px !important;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-align: center;
}


nav{

    min-width: 300px;
    width: 85%;
    height: 48px;
    border-radius: 9px;
    background-color: transparent;

    display: block;
    position: sticky;
    margin: 24px auto;
    
    padding-top: 0px;
    box-sizing: border-box;

    box-shadow: 1.69px 1.69px 6px 1.69px;

    text-align: center;

}

nav ul {
    display: block;
    list-style-type: none !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    padding-inline-start: 0px !important;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul li {

    display: block;

    font-weight: 600;
    letter-spacing: 1.69px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    height: 48px;
    cursor: pointer;
}

nav ul li:hover {

    background-color: black;
    color: #696d6b;
}


.settcont{
    display: block;
    position: absolute;
    top: 0px;
    border-radius: 6px;
    left: 7%;

    border: 3px dotted transparent;
    padding: 9px 16px;

    width: 20%;
    min-width: 69px;
    max-width: 300px;
    height: 48px;

    background-color: transparent;
}

.settcont img{
    display: block;
    position: absolute;
    top: 48px;
    left: 0px;
    width: 16px;
    height: auto;
    overflow-y: scroll;
}

.setinset{

    visibility: hidden;
    
    width: 100%;
    height: 100%;
    position: relative;
    bottom: -12px;

    transition: all 1.3s ease-out;

    background-color: transparent;
    border: 0.69px solid black;
    border-radius: 3px;

    
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    scrollbar-width: none; 
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.cpancontentcont{
    width: 100%;
    height: auto;
    padding: 12px 12px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.cpancontentcont .butts {
    margin-top: 6px;
    margin-bottom: 6px;
    box-sizing: border-box;
    padding: 12px 12px;
    cursor: pointer;

    border-radius: 6px;
    width: 85%;
    background-color: black;
    color: white;
    border: 0.69 dotted white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    
    z-index: 1000;

}


.setinset::-webkit-scrollbar { display: none; }


.custompopup{
    display: block;
    visibility: hidden;
    position: fixed;

    font-family: "Lexend" !important;

    width: 50%;
    left: 50%;
    top: 25%;
    height: 50%;

    background-color: white;
    z-index: 1000;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}


.spanCont{
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 85%;
    box-sizing: border-box;
    padding: 12px 24px;
    justify-content: space-evenly;

    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .spanCont span {
      color: black;
  }

  .dots{
    position: relative;
    margin-top: 6px;
    top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: black;

    animation: wobbleMeDots 1.9s linear 0s infinite forwards ;
    transition: all linear 1s;
  }

  #spOne {
    animation-delay: 0.9s;
  }

  #spTwo {
    animation-delay: 1.8s;
  }

  #spThree {
    animation-delay: 2.7s;
  }

  #spFour {
    animation-delay: 3.6s;
  }

  #spFive {
    animation-delay: 4.5s;
  }

  @keyframes wobbleMeDots {

    0%{
        top: -6px;
    }

    50%{

      top: 12px;
      
    }

    100%{

      top: -6px;

    }
    
  }



  .sitemappiccontainer{
      background-image: url("https://www.talissclub.com/img_ly/taliss-sitemap-wide.png");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: transparent !important;
  }

  .genericCpanCont{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 36px;

    width: 85%;
    background-color: white;
    color: white;
    border-radius: 6px;
    padding-bottom: 12px;
    min-height: 18px;
    height: auto;
    visibility: hidden;
  }

  .cPanContTit{
    position: absolute;
    top: 6px;
    width: 85%;
    min-height: 48px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.3px;
    background-color: transparent;
    text-align: center;

  }


  .imageListItemCont{

    width:85%;
    min-height: 36px;
    padding: 6px 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0.69px dotted black;
    color: black !important;
  }



  .imageListItemCont .filename,  .imageListItemCont .filetype, .imageListItemCont .filesize{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    padding-left: 18px;
    padding-right: 18px;
    font-size: 12px;
    letter-spacing: 1.69px;

    background-color: transparent;
  }


  #temporarydiv{
    position: relative;
    width: 65%;
    min-width: 69px;
    align-self: flex-start;
    top: 120px;
    margin-top: 6px;
    margin-right: 24px;
}

.mylogbutt{

    border: 3px dotted black;
    padding: 9px 16px;
    border-radius: 6px;
}

.loginbutt{

    color: black;
    background-color: transparent;
}

.loginbutt:hover{

    color: white;
    background-color: black;
}

.googlestuff{

    color: black;
    position: absolute;
    top: 25px;
    right: 25px;
}
.googlestuff a{

    color: black !important;
    text-decoration: none !important;


}



.bigcontainer {
    min-width: 96%;
    height: 469px;
    border: 6px;
    background-color: transparent;
    
    display: block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
    margin-right: 24px;
  
    box-sizing: border-box;

    box-shadow: 2.69px 2.69px 9px 3px;

    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

 .genericbox {
    min-width: 96%;
    visibility: collapse;
    height: 0px;
    border: 6px;
    background-color: #696d6b;
    
    display: block;
    position: relative;
    top: -469px;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
    margin-right: 24px;
  
    box-sizing: border-box;

    box-shadow: 2.69px 2.69px 9px 3px;

    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;

    transition: all;

    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;


    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bigcontainer::-webkit-scrollbar, .genericbox::-webkit-scrollbar { display: none; }


.scrollcontainer{

    width: 469%;
    height: 100%;
    margin: 0 auto;

    background-color: transparent;
    background: linear-gradient(.25turn, transparent, 60%, #696d6b);
    z-index: 10;
    box-sizing: border-box;
    overflow-y: hidden;

    display: flex;
}

.internalboxone {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 669px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.containerbox{
    position: relative;
}

.internalboxone img {

    width: 269px;
    height: 100%;

    background-image: url("https://ismailisimba.github.io/afrika1/resources/elephant-tall-standard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.internalboxone h1 {
    display: block;
    font-size: large !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-weight: 500;
    position: relative;
    
    width: 66%;
    height: 45%;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    letter-spacing: 1.69px;
    color: white;
}

.internalboxone hr, .internalboxtwo hr {
    display: block;
    position: relative;
    top: -48px;
    width: 33%;
    height: 3px;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-left: 48px;
    overflow: hidden;
    border-style: none;
    
    border-width: 0.69px;
    background-color:  white;
    box-sizing: border-box;
}

.internalboxone p {
    width: 100%;
    max-height: 180px;
    position: relative;
    top: -48px;
    color: white;
    padding-left: 48px;
    padding-top: 0px;
    padding-right: 48px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.internalboxone button {
    width: 36px;
    height: 36px;
    position: relative;
    top: -48px;
    margin-left: 48px;
    box-sizing: border-box;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/arrow_forward.svg");
    background-position: center;
    background-size: 69%;
    box-shadow: 1px 1px 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0px;
}




.internalboxtwo {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 669px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;

    background-image: url("https://ismailisimba.github.io/afrika1/resources/zebra-wide-standard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.internalboxtwo h1 {

    display: block;
    font-size: large !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-weight: 600;
    position: relative;
    
    width: 100%;
    height: 45%;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    letter-spacing: 1.69px;
    color: black;
}

.internalboxtwo p {
    width: 100%;
    height: 55%;
    position: relative;
    top: 48px;
    color: white;
    background-color: #696d6b;
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: .96;
    text-overflow: ellipsis;
}



.frontphotobox {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 3169px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;


    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.blockone{
    width: 25%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 200;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.blockone img {
    width: 50%;
    height: 50%;
    background-color: white;
}

.blockone:nth-child(1) img:nth-child(1){
    width: 100%;
}

.blockone:nth-child(2) img, .blockone:nth-child(4) img{
    width: 100%;
    height: 100%;
}

.blockone:nth-child(3) img:nth-child(1),.blockone:nth-child(3) img:nth-child(4){
    width: 60%;
}
.blockone:nth-child(3) img:nth-child(2),.blockone:nth-child(3) img:nth-child(3){
    width: 40%;
}

.internalboxtwo button {
    width: 36px;
    height: 36px;
    position: absolute;
    bottom:36px;
    right: 48px;
    margin-left: 48px;
    box-sizing: border-box;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/arrow-circle-down.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
}


.genericboxheader{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 48px;
    box-sizing: border-box;
    position: relative;
}


.genericbox hr {
    width: 55%;
    align-self: flex-start;
    height: 3px;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-left: 48px;
    overflow: hidden;
    border-style: none;

    position: relative;
    top: 32px;
    
    border-width: 0.69px;
    background-color:  white;
    box-sizing: border-box;
}

.genericbox button{

    width: 36px;
    height: 36px;
    position: relative;
    top: 9px;
    margin-right: 48px;
    background-color: transparent;
    box-sizing: border-box;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/cancel_white.svg");
    background-position: center;
    background-size: 69%;
    box-shadow: 1px 1px 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0px;

}