html{
    font-family: "Lexend" !important;
}

body{
    position: relative;
    background-color: orange;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/bodyback1.png");
    background-repeat: repeat;
    background-size: auto;
}

p{
    font-size: 14px;
    letter-spacing: 1.69px;
    font-weight: 300;
}


title{
    font-size: xx-large;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-top: 36px !important;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-align: center;
}


nav{

    min-width: 300px;
    width: 85%;
    height: 48px;
    border-radius: 9px;
    background-color: transparent;

    display: block;
    position: sticky;
    margin: 24px auto;
    
    padding-top: 0px;
    box-sizing: border-box;

    box-shadow: 1.69px 1.69px 6px 1.69px;

    text-align: center;

}

nav ul {
    display: block;
    list-style-type: none !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    padding-inline-start: 0px !important;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul li {

    display: block;

    font-weight: 600;
    letter-spacing: 1.69px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    height: 48px;
    cursor: pointer;
}

nav ul li:hover {

    background-color: black;
    color: #696d6b;
}

.bigcontainer {
    min-width: 96%;
    height: 469px;
    border: 6px;
    background-color: transparent;
    
    display: block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
    margin-right: 24px;
  
    box-sizing: border-box;

    box-shadow: 2.69px 2.69px 9px 3px;

    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

 .genericbox {
    min-width: 96%;
    height: 0px;
    border: 6px;
    background-color: #696d6b;
    
    display: block;
    position: relative;
    top: -469px;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
    margin-right: 24px;
  
    box-sizing: border-box;

    box-shadow: 2.69px 2.69px 9px 3px;

    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;

    transition: all;

    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;


    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bigcontainer::-webkit-scrollbar, .genericbox::-webkit-scrollbar { display: none; }


.scrollcontainer{

    width: 469%;
    height: 100%;
    margin: 0 auto;

    background-color: transparent;
    background: linear-gradient(.25turn, transparent, 60%, #696d6b);
    z-index: 10;
    box-sizing: border-box;
    overflow-y: hidden;

    display: flex;
}

.internalboxone {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 669px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.containerbox{
    position: relative;
}

.internalboxone img {

    width: 269px;
    height: 100%;

    background-image: url("https://ismailisimba.github.io/afrika1/resources/elephant-tall-standard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.internalboxone h1 {
    display: block;
    font-size: large !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-weight: 500;
    position: relative;
    
    width: 66%;
    height: 45%;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    letter-spacing: 1.69px;
    color: white;
}

.internalboxone hr, .internalboxtwo hr {
    display: block;
    position: relative;
    top: -48px;
    width: 33%;
    height: 3px;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-left: 48px;
    overflow: hidden;
    border-style: none;
    
    border-width: 0.69px;
    background-color:  white;
    box-sizing: border-box;
}

.internalboxone p {
    width: 100%;
    max-height: 180px;
    position: relative;
    top: -48px;
    color: white;
    padding-left: 48px;
    padding-top: 0px;
    padding-right: 48px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.internalboxone button {
    width: 36px;
    height: 36px;
    position: relative;
    top: -48px;
    margin-left: 48px;
    box-sizing: border-box;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/arrow_forward.svg");
    background-position: center;
    background-size: 69%;
    box-shadow: 1px 1px 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0px;
}




.internalboxtwo {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 669px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;

    background-image: url("https://ismailisimba.github.io/afrika1/resources/zebra-wide-standard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.internalboxtwo h1 {

    display: block;
    font-size: large !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-weight: 600;
    position: relative;
    
    width: 100%;
    height: 45%;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    letter-spacing: 1.69px;
    color: black;
}

.internalboxtwo p {
    width: 100%;
    height: 55%;
    position: relative;
    top: 48px;
    color: white;
    background-color: #696d6b;
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: .96;
    text-overflow: ellipsis;
}



.frontphotobox {
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 3169px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;


    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.blockone{
    width: 25%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 200;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.blockone img {
    width: 50%;
    height: 50%;
    background-color: white;
}

.blockone:nth-child(1) img:nth-child(1){
    width: 100%;
}

.blockone:nth-child(2) img, .blockone:nth-child(4) img{
    width: 100%;
    height: 100%;
}

.blockone:nth-child(3) img:nth-child(1),.blockone:nth-child(3) img:nth-child(4){
    width: 60%;
}
.blockone:nth-child(3) img:nth-child(2),.blockone:nth-child(3) img:nth-child(3){
    width: 40%;
}

.internalboxtwo button {
    width: 36px;
    height: 36px;
    position: absolute;
    bottom:36px;
    right: 48px;
    margin-left: 48px;
    box-sizing: border-box;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/arrow-circle-down.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
}
