html{
    font-family: "Lexend" !important;
}

body{
    position: relative;
    background-color: orange;
    background-image: url("https://ismailisimba.github.io/afrika1/resources/bodyback1.png");
    background-repeat: repeat;
    background-size: auto;
}

title{
    font-size: xx-large;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-top: 36px !important;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-align: center;
}


nav{

    min-width: 300px;
    width: 85%;
    height: 48px;
    border-radius: 9px;
    background-color: transparent;

    display: block;
    position: sticky;
    margin: 24px auto;
    
    padding-top: 0px;
    box-sizing: border-box;

    box-shadow: 1.69px 1.69px 6px 1.69px;

    text-align: center;

}

nav ul {
    display: block;
    list-style-type: none !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    padding-inline-start: 0px !important;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul li {

    display: block;

    font-weight: 600;
    letter-spacing: 1.69px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    height: 48px;
    cursor: pointer;
}

nav ul li:hover {

    background-color: black;
    color: #696d6b;
}

.bigcontainer {
    min-width: 96%;
    height: 469px;
    border: 6px;
    background-color: transparent;
    
    display: block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
    margin-right: 24px;
  
    box-sizing: border-box;

    box-shadow: 2.69px 2.69px 9px 3px;

    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.bigcontainer::-webkit-scrollbar { display: none; }


.scrollcontainer{

    width: 469%;
    height: 100%;
    margin: 0 auto;
    padding: 24px 36px 24px 36px;

    background-color: transparent;
    background: linear-gradient(.25turn, transparent, 60%, #696d6b);
    z-index: 10;
    box-sizing: border-box;
    overflow-y: hidden;
}

.internalboxone {
    display: block;
    margin-top: 12px;
    width: 669px;
    height: 95%;
    background-color: #696d6b;
    z-index: 100;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.internalboxone img {

    width: 269px;
    height: 100%;

}